P6/.vs/*
P6/P6.vcxproj
P6/P6/P6.vcxproj.*
P6/*.opendb
P6/Debug/
P6/Release/
64x/
P6/.vs
P6/x64
P6/P6/x64
*.opendb
*.VC.opendb
Debug/
Release/
*.obj
*.exe
*.dll
*.log
*.pdb
*.idb
*.suo
*.user
*.ipch
*.lastcodeanalysissucceeded